@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@700&display=swap');

* {
    font-family: 'Rambla', sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, #232526 0%, #414345 100%) fixed no-repeat;
    margin: 0;
    padding: 0;
}

.topbar_root {
    margin: 75px auto;
    width: 1000;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.topbar_item .icons {
  justify-content: center;
  position: relative;
  align-items: center;
}

.topbar_root img {
    cursor:pointer;
    margin-right: 50px;
}

.topbar_root img:hover{
    transform: scale(1.1);
}

.topbar_root .items {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.topbar_item {
    margin-right: 50px;
}

.topbar_item:hover {
    transform: scale(1.1);
}

.topbar_item a {
    width: 100px;
    text-decoration: none;
    color: #A5A5A5;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
}

.center {
    color: #A5A5A5;
    width: 800;
    height: auto;
    margin: auto;
    text-align: center;
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}

.center h1 {
    margin-top: 20px;
    font-size: 66px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
}

.center #antonio {
    color:#FFDF8E;
}

.center h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.center h3 {
    margin-top: 25px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.center #avatar {
    margin: 0 auto;
    border-radius: 30%;
    margin-top: 30px;
    max-width: 100%;
    height: auto;
    border: calc(8px + 0.2vw) solid transparent;
    background: linear-gradient(90deg, #C4C4C4 -38.87%, #FFDF8E -38.85%, #A5A5A5 94.12%);
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.footer_group {
    margin-top: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #A5A5A5;
    padding: 100px 0;
}

.footer_group h4{
    font-size: 20px;
    text-align: center;
}

footer {
    width:auto;
    bottom:0px
  }
  footer div {
    background-color: var(--col-deepblue);
    margin: -5px 0px 0px 0px;
    padding:0px;
    color: #fff;
    text-align:center;
  }
  svg {
    width:100%;
    margin-top: -100px;
    overflow:visible;
  }

  .topball {
    animation: ball 1.5s ease-in-out;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-delay: 0.3s;
    cursor:pointer;
  }
  
  .wave {
    animation: wave 3s linear;
    animation-iteration-count:infinite;
    fill: #FFDF8E;
  }
  .drop {
    fill: transparent;
    animation: drop 5s ease infinite normal;
    stroke: #A5A5A5;
    stroke-width:0.5;
    opacity:.6; 
    transform: translateY(80%);
  }
  .drop1 {
    transform-origin: 20px 3px;
  }
  .drop2 {
    animation-delay: 3s;
    animation-duration:3s;
    transform-origin: 25px 3px;
  }
  .drop3 {
    animation-delay: -2s;
    animation-duration:3.4s;
    transform-origin: 16px 3px;
  }
  .gooeff {
        filter: url(#goo);
  }
  #wave2 {
    animation-duration:5s;
    animation-direction: reverse;
    opacity: .6
  }
  #wave3 {
    animation-duration: 7s;
    opacity:.3;
  }
  @keyframes drop {
    0% {
      transform: translateY(80%); 
      opacity:.6; 
    }
    80% {
      transform: translateY(80%); 
      opacity:.6; 
    }
    90% { 
      transform: translateY(10%) ; 
      opacity:.6; 
    }
    100% { 
      transform: translateY(0%) scale(1.5);  
      stroke-width:0.2;
      opacity:0; 
    }
  }
  @keyframes wave {
    to {transform: translateX(-100%);}
  }

  @keyframes ball {
    to {transform: translateY(20%);}
  }

  @media screen and (max-width: 1000px) {
    .topbar_root {
        flex-direction: column;
        margin-left: 10px;
    }
    .topbar_root #icons{
      margin-left: 30px;
  }
    .topbar_root img{
        margin: 20px;
    }
    .topbar_root .items {
        margin-top: 50px;
    }
    .topbar_item {
        margin: 20px;
    }
}
