<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Favicon here-->
    <!--En Firefox aparece el favicon animado-->
    <link rel="icon" href="../images/animatedA.gif" type="image/gif" >
    <title>About | Antonio Cortés</title>
    <!--Estilos-->
    <link rel="stylesheet" href="../styles/about.css" />
    <link rel="stylesheet" href="../styles/home.css" />
  </head>

  <body>
    <!--Topbar-->
    <nav class="topbar_root">
      <!--Linkedin Logo-->
      <div class="icons">
        <a href="https://www.linkedin.com/in/antonio-cort%C3%A9s-jim%C3%A9nez/">
          <img
            src="../images/linkedin.png"
            alt="logoLinkAlt"
            style="width: 50px; height: 50px"
        /></a>
        <a href="https://github.com/le4nnt0nn">
          <img
            src="../images/github.png"
            alt="logoGitAlt"
            style="width: 50px; height: 50px"
        /></a>
      </div>
      <!--Nav items-->
      <div class="items">
        <div class="topbar_item"><a href="../index.html">Home</a></div>
        <div class="topbar_item"><a href="about.html">About</a></div>
        <div class="topbar_item"><a href="skills.html">Skills</a></div>
        <div class="topbar_item"><a href="portfolio.html">More</a></div>
      </div>
    </nav>

    <!--Bio center-->
    <div class="bio">
      <h1><span id="about_animated">About me !</span></h1>
      <p>
        I´m <span>Antonio</span>, a 19 years old developer from Seville, Spain.
      </p>
      <p>
        After completing High School, I started a Hardware-Software and Network
        Degree for 2 years.
      </p>
      <p>During the course, I obtained a MTCNA Mikrotik License.</p>
      <p>
        Some time later I decided to study a Web Development Degree (Currently
        studying it).
      </p>
      <p></p>
      <p>
        I really love to work hard, help others and learn every day about all
        technologies.
      </p>
      <p>I always want to be better every day and be better at what I do.</p>
    </div>
    <!--Cards info-->
    <div class="info-career">
      <h2>My experiences</h2>
      <div class="card">
        <img id="itcon-logo" src="../images/itcon.png" alt="itconAlt" />
        <p>ITCON Iberia</p>
        <p class="duration_time">Nov 2021 - Current</p>
      </div>
      <h2>Studies</h2>
      <div class="card">
        <img id="ada-logo" src="../images/adaits.png" alt="adaItsAlt" />
        <p>Hardware-Software and Networks</p>
        <p class="duration_time">2018 - 2020</p>
        <p>Web Development</p>
        <p class="duration_time">2020 - 2022</p>
      </div>
      <h2>Certificates</h2>
      <div class="card">
        <img
          id="cambridge-logo"
          src="../images/cambridge.png"
          alt="cambridgeAlt"
        />
        <p>B1 Cambridge</p>
        <img
          id="mtcna-logo"
          src="../images/mtcna.png"
          id="mtcnaLogo"
          alt="mtcnaIconAlt"
          sytle="width: 10px, height: 10px"
        />
        <p>MTCNA Mikrotik</p>
        <p id="see-more">
          Check more certificates
          <a
            href="https://www.linkedin.com/in/antonio-cort%C3%A9s-jim%C3%A9nez/"
            >here</a
          >
        </p>
      </div>
      <h2>Hobbies</h2>
      <!--Marca para popup-->
      <a id="popup_mark"></a>
      <div id="hobbies_content">
        <div class="card">
          <img src="https://img.icons8.com/fluency/96/000000/dumbbell.png"/>
          <p id="c-1"><a href="#popup1">< Exercise /></a></p>
        </div>
        <div class="card">
          <img src="https://img.icons8.com/fluency/96/000000/reading-unicorn.png"/>
          <p id="c-2"><a href="#popup2">< Read /></a></p>
        </div>
        <div class="card">
          <img src="https://img.icons8.com/fluency/96/000000/apple-arcade.png"/>
          <p id="c-3"><a href="#popup3">< Games /></a></p>
        </div>
        <div class="card">
          <img src="https://img.icons8.com/fluency/96/000000/infinity-gauntlet.png"/>
          <p id="c-4"><a href="#popup4">< Series /></a></p>
        </div>
      </div>
    </div>

    <!--PopUps para hobbies-->
    <div id="popup1" class="overlay">
      <div class="popup">
        <h2>Exercise</h2>
        <a class="close" href="#popup_mark">&times;</a>
        <div class="content">
          I love ciclying 🚴‍♂️, play football ⚽ and training 🏋️‍♂️ (4-5 times a week).
        </div>
      </div>
    </div>
    <div id="popup2" class="overlay">
      <div class="popup">
        <h2>Read</h2>
        <a class="close" href="#popup_mark">&times;</a>
        <div class="content">
          I enjoy reading during the night before sleep 📖. One of my favourite writers is Stephen King. Also i really love read manga.
        </div>
      </div>
    </div>

    <div id="popup3" class="overlay">
      <div class="popup">
        <h2>Videogames</h2>
        <a class="close" href="#popup_mark">&times;</a>
        <div class="content">
          Some videogames 🎮 that i love are Genshin Impact, Minecraft, PES & FIFA and Far Cry saga. Here is my <a href="https://steamcommunity.com/id/le4nn">Steam profile</a>, where you can see all of my games :)
        </div>
      </div>
    </div>

    <div id="popup4" class="overlay">
      <div class="popup">
        <h2>Series</h2>
        <a class="close" href="#popup_mark">&times;</a>
        <div class="content">
          Anime series are my favourite here, but also really enjoy Marvel productions, especially about Spiderman 🕸. 
        </div>
      </div>
    </div>


    <!--Footer-->
    <div class="footer_group">
      <h4>Antonio Cortés © 2021</h4>
      <a href="https://iconos8.es/">Icons by Icons8</a>
    </div>
    <!--Waves Container-->
    <div>
      <svg
        class="waves"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28"
        preserveAspectRatio="none"
        shape-rendering="auto"
      >
        <defs>
          <path
            id="gentle-wave"
            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
          />
        </defs>
        <g class="parallax">
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="0"
            fill="rgba(255,255,255,0.7"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="3"
            fill="rgba(255,255,255,0.5)"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="5"
            fill="rgba(255,255,255,0.3)"
          />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
  </body>
</html>
