<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Favicon here-->
    <!--En Firefox aparece el favicon animado-->
    <link rel="icon" href="../images/animatedA.gif" type="image/gif" >
    <title>Skills | Antonio Cortés</title>
    <!--Estilos-->
    <link rel="stylesheet" href="../styles/skills.css">
    <link rel="stylesheet" href="../styles/home.css">
</head>

<body>

    <!--Topbar-->
    <nav class="topbar_root">
        <!--Linkedin Logo-->
        <div class="icons">
            <a href="https://www.linkedin.com/in/antonio-cort%C3%A9s-jim%C3%A9nez/">
                <img src="../images/linkedin.png" alt="logoLinkAlt" style="width: 50px; height: 50px;"></a>
            <a href="https://github.com/le4nnt0nn">
                <img src="../images/github.png" alt="logoGitAlt" style="width: 50px; height: 50px;"></a>
        </div>
        <!--Nav items-->
        <div class="items">
            <div class="topbar_item"> <a href="../index.html">Home</a></div>
            <div class="topbar_item"> <a href="about.html">About</a></div>
            <div class="topbar_item"> <a href="skills.html">Skills</a></div>
            <div class="topbar_item"> <a href="portfolio.html">More</a></div>
        </div>
    </nav>

    <!--Cards wrapper-->
    <div class="cards_content">
        <!--Front card-->
        <h2>👁️ Front</h2>
        <div class="card" id="skills">
            <h3>HTML5</h3>
            <div class="skill_bar">
                <div style="width: 80%;" class="progress_front"></div>
            </div>
            <h3>CSS3</h3>
            <div class="skill_bar">
                <div style="width: 70%;" class="progress_front"></div>
            </div>
            <h3>JavaScript</h3>
            <div class="skill_bar">
                <div style="width: 68%;" class="progress_front"></div>
            </div>
            <h3>TypeScript</h3>
            <div class="skill_bar">
                <div style="width: 51%;" class="progress_front"></div>
            </div>
            <h3>React.js</h3>
            <div class="skill_bar">
                <div style="width: 67%;" class="progress_front"></div>
            </div>
            <h3>React Native</h3>
            <div class="skill_bar">
                <div style="width: 33%;" class="progress_front"></div>
            </div>
        </div>
        <!--Design card-->
        <h2>🎨 Design</h2>
        <div class="card" id="skills">
            <h3>Figma</h3>
            <div class="skill_bar">
                <div style="width: 68%;" class="progress_design"></div>
            </div>
            <h3>Photoshop CS6</h3>
            <div class="skill_bar">
                <div style="width: 80%;" class="progress_design"></div>
            </div>
        </div>
        <!--Back card-->
        <h2>🧠 Back</h2>
        <div class="card" id="skills">
            <h3>Java</h3>
            <div class="skill_bar">
                <div style="width: 85%;" class="progress_back"></div>
            </div>
            <h3>Node</h3>
            <div class="skill_bar">
                <div style="width: 67%;" class="progress_back"></div>
            </div>
            <h3>Python</h3>
            <div class="skill_bar">
                <div style="width: 30%;" class="progress_back"></div>
            </div>
            <h3>MySQL</h3>
            <div class="skill_bar">
                <div style="width: 70%;" class="progress_back"></div>
            </div>
            <h3>Mongo</h3>
            <div class="skill_bar">
                <div style="width: 66%;" class="progress_back"></div>
            </div>
        </div>
    </div>


    <!--Footer-->
    <div class="footer_group">
        <h4>Antonio Cortés © 2021</h4>
    </div>

    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    </div>
</body>