h2 {
    font-size: 40px;
    text-align: center;
    color: #FFDF8E;
}
body {
    animation: fadeIn 1s;
}

/* Cartas */

.card {
    width: 600px;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    background: #fff;
    color: #414345;
    border-radius: 30px;
    box-shadow: 0px 7px 7px rgba(36, 35, 35, 0.521);
  }

.card #skills {
    margin: 0 auto;
    align-items: center;
    width: auto;
    height: auto;  
    background: transparent;
    color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 7px 7px rgba(36, 35, 35, 0.521);
    padding: 5px 19px;
}

.card h3 {
    padding: 10px;
    font-size: 23px;
    background: transparent;
}

/* Estilo para barras de progreso */

.card .skill_bar {
    padding: 15px;
    border-radius: 25px;
    height: 8px;
    margin-top: 10px;
    background: #414345;
}

.card .progress_front {
    height: 5px;
    background: #f86719;
    border-radius: 25px;
    margin-bottom: 20px;
}

.card .progress_design {
    height: 5px;
    background: #ffb900;
    border-radius: 25px;
    margin-bottom: 20px;
}

.card .progress_back {
    height: 5px;
    background: #f5aaba;
    border-radius: 25px;
    margin-bottom: 20px;
}


/* Responsive */

@media screen and (max-width: 1000px) {
    .card {
        width: 300px;
    }
}

@media screen and (max-width: 375px) {
    .card {
        text-align: center;
        width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .card {
        margin-left: 18px;
    }
}